<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.topschool.xm.dao.orderfood.OrderLogMapper">

    <resultMap id="orderLog" type="com.topschool.xm.model.orderfood.OrderLog">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="foodId" column="food_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="insert">
        insert into order_log (user_id, food_id, create_time) values (#{userId},#{foodId},#{createTime});
    </insert>
    <delete id="delete">
        DELETE FROM order_log WHERE user_id=#{uid} AND food_id=#{foodId} AND to_days(from_unixtime(create_time DIV 1000))=to_days(curdate());
    </delete>
    <select id="getByRestaurantId" resultMap="orderLog">
        select L.* from order_log L, order_food F WHERE F.kind=#{id} and L.food_id=F.id;
    </select>
    <select id="getByDate" resultMap="orderLog">
        select * from order_log WHERE to_days(create_time)=to_days(#{date});
    </select>
    <select id="getByUserId" resultMap="orderLog">
        select * from order_log WHERE user_id = #{id};
    </select>
    <select id="getByFoodId" resultMap="orderLog">
        select * from order_log WHERE food_id=#{id};
    </select>
    <select id="exist" resultType="java.lang.Boolean">
        SELECT count(*)
        FROM order_log
          WHERE user_id = #{userId} AND to_days(from_unixtime(create_time DIV 1000)) = to_days(from_unixtime(#{createTime} DIV 1000))
    </select>
    <select id="getTodayOrderByUserId" resultMap="orderLog">
        select *
        from order_log WHERE user_id=#{id} AND to_days(from_unixtime(create_time DIV 1000))=to_days(curdate());
    </select>
</mapper>