<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.topschool.xm.dao.scratchcard.ScratchLogMapper">

    <resultMap id="scratch_log" type="com.topschool.xm.model.scratchcard.ScratchLog">
        <id property="id" column="id"/>
        <result property="uid" column="wx_id"/>
        <result property="result" column="result"/>
        <result property="scratchDate" column="scratch_date"/>
        <result property="createDate" column="create_time"/>
    </resultMap>


    <insert id="insert">
        insert into scratch_log (wx_id, result, scratch_date, create_time)
        values (#{uid},#{result},#{scratchDate},#{createDate});
    </insert>

    <select id="getOnesScratchResult" resultMap="scratch_log">
        select * from scratch_log WHERE wx_id=#{uid} AND to_days(scratch_date)=to_days(#{scratchDate});
    </select>

    <select id="getCurrentMouthScratchListByWxId" resultMap="scratch_log">
        select * from scratch_log WHERE wx_id=#{id} AND date_add(curdate(), interval - day(scratch_date) + 1 day) = date_add(curdate(), interval - day(curdate()) + 1 day);
    </select>

    <select id="getTodayScratchResultList" resultMap="scratch_log">
        select * from scratch_log WHERE scratch_date=current_date() ;
    </select>
    <select id="getMouthCountByWxId" resultType="java.lang.Integer">
        select sum(result) from scratch_log WHERE wx_id = #{id} AND date_add(scratch_date, interval - day(scratch_date) + 1 day) = date_add(curdate(), interval - day(curdate()) + 1 day);
    </select>
    <select id="getCurrentMouthTop" resultType="java.util.Map">
        SELECT wx_id id, sum(result) money
        FROM scratch_log
        WHERE
          date_add(scratch_date, interval - day(scratch_date) + 1 day) = date_add(curdate(), interval - day(curdate()) + 1 day)
        GROUP BY (wx_id)
        ORDER BY (sum(result)) DESC
        LIMIT #{size};
    </select>
    <select id="isExist" resultType="java.lang.Boolean">
        select * from scratch_log WHERE wx_id=#{id} AND to_days(scratch_date)=to_days(#{scratchDate});
    </select>
</mapper>