<!doctype html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3>hello world</h3>
<p th:text="${session.username}"></p>

<div>
    初始化订餐:
    <form action="/admin/food/select_brand" method="post">
        <label>id
            <input type="text" name="id">
        </label>
        <input type="submit" value="确认">
    </form>
</div>
<div>
    结束订餐：
</div>

</body>
</html>